body {
    color: rgb(54, 54, 54);
    font-size: 14px;
}

h1 {
    font-size: 40px;
    color: rgb(255, 255, 255);
}

h2 {
    color: rgb(24, 90, 24);
    font-size: 35px;
}

header {
    text-align: center;
    background-color: rgb(24, 90, 24);
    padding: 3em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0.5em;
    align-items: center;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    padding: 0;
    margin: 1em 0 0 0;
}

nav li {
    list-style: none;
    margin: 0;
    font-size: 12px;
}

nav a,
nav a:visited {
    display: inline-block;
    background-color: rgb(255, 255, 255);
    color: rgb(24, 90, 24);
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 8px;
    border: 2px solid rgb(24, 90, 24);
    font-weight: 500;
}

nav a:hover {
    background-color: rgb(24, 90, 24);
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
}

footer {
    background-color: rgb(24, 90, 24);
    margin-top: 3rem;
    padding: 2rem;
    text-align: center;
    color: rgb(255, 255, 255);
}

.roboto-mono-font {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.inconsolata-header-font {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: bold;
    font-variation-settings:
        "wdth" 100;
    color: white;
    font-size: 40px;
}

.anonymous-pro-regular {
    font-family: "Anonymous Pro", monospace;
    font-weight: 400;
    font-style: normal;
}