.section-menu {
    text-align: center;
    margin: 2em auto;
}

.section-menu li {
    display: inline-block;
    list-style: none;
    margin: 0 0.5em;
    padding: 0.5em;
    font-size: 12px;
    border-radius: 20px;
}

.section-menu li a,
.section-menu li a:visited {
    background-color: rgb(24, 90, 24);
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 20px;
    margin: 2em auto;
    padding: 1em;
}

.section-menu li a:hover {
    text-decoration: underline;
}

.section-item {
    text-align: center;
    padding: 2em;
}

.section-item h3 {
    color: rgb(24, 90, 24);
    font-weight: bold;
}