.section-menu {
    text-align: center;
    margin: 5em 2em;
}

.section-menu ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(325px, max-content));
    justify-content: center;
    gap: 1em;
}

.section-menu li {
    list-style: none;
    font-size: 12px;
    font-weight: bold;
}

.section-menu li a,
.section-menu li a:visited {
    display: block;
    background-color: rgb(255, 255, 255);
    color: rgb(24, 90, 24);
    text-decoration: none;
    border: 2px solid rgb(24, 90, 24);
    border-radius: 20px;
    padding: 1em;
}

.section-menu li a:hover {
    background-color: rgb(24, 90, 24);
    color: rgb(255, 255, 255);
}

.section-item {
    text-align: center;
    padding: .5em;
}

.section-item h3 {
    color: rgb(24, 90, 24);
    font-weight: bold;
}

.gallery-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 2.5em
}

.gallery-grid div {
    align-items: center;
    width: 350px;
}

.gallery-grid div img {
    width: 350px;
    height: 350px;
    display: inline-block;
}