
body {
    font-family: Arial, Helvetica, sans-serif;
}

.nav {
    text-align: center;
    background-color: lightgreen;
    border: 2px solid darkgray;
    border-radius: 5px;
    padding: 10px;
}


footer {
margin: 0px;
background-color: lightgreen;
border: 3px solid rgba(9, 0, 0, 0.248);
border-radius: 5px;
text-align: center;
margin-top: 20px;
}


