body {
    color: rgb(54, 54, 54);
    font-size: 14px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

main {
    flex: 1;
}

h1 {
    font-size: 40px;
    color: rgb(255, 255, 255);
}

h2 {
    color: rgb(24, 90, 24);
    font-size: 35px;
}

header {
    text-align: center;
    background-color: rgb(24, 90, 24);
    padding: 3em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0.5em;
    align-items: center;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    padding: 0;
    margin: 1em 0 0 0;
}

nav li {
    list-style: none;
    margin: 0;
    font-size: 12px;
}

nav a,
nav a:visited {
    display: inline-block;
    background-color: rgb(255, 255, 255);
    color: rgb(24, 90, 24);
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 8px;
    border: 2px solid rgb(24, 90, 24);
    font-weight: 500;
}

nav a:hover {
    background-color: rgb(24, 90, 24);
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
}

.main-header {
    text-align: center;
}

.blog-links a,
.blog-links a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.blog-links a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(0, 0, 0);
    text-decoration-thickness: 3px;
    text-underline-offset: 3px;
}

.blog-section-item {
    padding: 1em 5em;
}

.blog-section-item div {
    max-width: 720px;
    margin-bottom: 2em;
    font-size: 13px;
}

.time {
    font-size: 12px;
    color: rgb(145, 118, 2);
    margin: auto 0;
    font-weight: bold;
    font-size: 14px;
}

.back-link {
    margin: 6em auto;
    text-align: center;
}

.back-link a,
.back-link a:visited,
.back-link a:hover {
    width: 200px;
    text-align: center;
    font-weight: bold;
    background-color: rgb(206, 168, 0);
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 20px;
    margin: 2em auto;
    padding: .5em 1em;
}

footer {
    background-color: rgb(24, 90, 24);
    margin-top: 3em;
    padding: 2em;
    text-align: center;
    color: rgb(255, 255, 255);
}

.roboto-mono-font {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.inconsolata-header-font {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: bold;
    font-variation-settings:
        "wdth" 100;
}

.anonymous-pro-regular {
    font-family: "Anonymous Pro", monospace;
    font-weight: 400;
    font-style: normal;
}