
body {

    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}


.blog_description h2 {
    text-align: center;
    color: rgb(24, 90, 24);
    font-size: 35px;
    font-family: "Inconsolata", monospace;
    font-weight: 700;
    
}

.blog_description p {
    margin: 0px 100px;
}


form {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 0px 100px;

}



.label {
    text-align: center;
    font-size: 35px;
    margin-bottom: 20px;
    color: rgb(24, 90, 24);
    font-family: "Inconsolata", monospace;
    font-weight: 700;
}
.comment {
    padding: 30px;
    border: 2px solid;
    border-color: black;
    border-radius: 5px;
    margin-bottom: 10px;
   
}
.button {
    padding: 0px 5px;
    width: 100px;
    height: 30px;
    margin-left: 45%;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(24, 90, 24);
    font-family: "Roboto Mono", monospace;
}

.button:hover {
    background-color: rgb(24, 90, 24);
    color: rgb(255, 255, 255);
}

footer {
    background-color: rgb(24, 90, 24);
    margin-top: 3em;
    padding: 2em;
    text-align: center;
    color: rgb(255, 255, 255);
}


.nav-tips {
    display: flex; 
    flex-direction: row; 
    margin-left: 100px;              
    justify-content: space-evenly;     
            
}
.nav-tips article img {
    height: 100px;
    width: auto;
}

.tips h2 {
    text-align: center;
    color: rgb(24, 90, 24);
    font-size: 35px;
    font-family: "Inconsolata", monospace;
    font-weight: 700;

}

    

