
body {
    font-family: Arial, Helvetica, sans-serif;
}

.nav {
    text-align: center;
    background-color: lightgreen;
    border: 2px solid darkgray;
    border-radius: 5px;
    padding: 10px;
}

.blog_description h2 {
    text-align: center;
    font-size: 30px;
    
}

.blog_description p {
    margin: 0px 200px;
}


form div {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    padding: 10px;

}

.label {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}
.comment {
    padding: 30px;
    border: 2px solid;
    border-color: black;
    border-radius: 5px;
    margin-bottom: 10px;
   
}
.button {
    padding: 0px 5px;
    width: 100px;
    height: 30px;
    margin-left: 45%;
    background-color: lightgreen;
    border: 3px solid rgba(9, 0, 0, 0.248);
    border-radius: 5px;
}

footer {
    margin: 0px;
    background-color: lightgreen;
    border: 3px solid rgba(9, 0, 0, 0.248);
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
}


