

.blog_description h2 {
    text-align: center;
    font-size: 30px;
    
}

.blog_description p {
    margin: 0px 200px;
}


form div {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    padding: 10px;

}

.label {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}
.comment {
    padding: 30px;
    border: 2px solid;
    border-color: black;
    border-radius: 5px;
    margin-bottom: 10px;
   
}
.button {
    padding: 0px 5px;
    width: 100px;
    height: 30px;
    margin-left: 45%;
    background-color: rgb(24, 90, 24);
    border: 3px solid rgba(9, 0, 0, 0.248);
    border-radius: 5px;
    color: white;
}

footer {
    background-color: rgb(24, 90, 24);
    margin-top: 3em;
    padding: 2em;
    text-align: center;
    color: rgb(255, 255, 255);
}


.tips-list {
    display: flex; 
    flex-direction: row; 
    margin-left: 100px;              
    justify-content: space-evenly;     
            
}
.tips-list img {
    height: 100px;
    width: auto;
}

.tips h2 {
    text-align: center;
}

    

